.container-intro{
    display: flex;
    align-items: baseline;
}
.btn-end{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.head-center{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title-reco{
    color: var(--pessoas-font-color);
    font-size: 35px;
    font-weight: 700;
}
.intra-title{
    color: var(--pessoas-font-color);
    text-transform: uppercase;
    font-size: 20px;
}
.grafico-81{
    content: var(--grafico-white-81);
    width: 274.493px;
    height: 149.295px;
    margin-left: px;
}
.one{
    background-color: rgba(51,51,51,1);
    color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.intro-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.two{
    background-color: rgba(229,229,229,1);
    border-radius: 20px;
    color: white;
    padding: 30px;
}
.container-text{
    gap: 100px;
    display: flex;
    align-items: stretch;
    margin: 0px;
}
.section-text{
    text-align: start;
    margin: 30px;
}
.background-grafics{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-text-section-one{
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--pessoas-font-color);
}
.title-grafics{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.section-box{
    background-color: rgba(229,229,229,1);
    padding-top: 10px;
}
.sub-container{
    background-color: rgba(216,214,214,1);
    color: black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transform: translateY(50px);
}
.title-black{
    color: rgba(67,67,67,1);
    font-size: 1rem;
    font-weight: bold;
}
.center-back{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.space-title{
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    justify-content: space-between;
}
.content-text{
    margin-top: -70px;
    font-size: 14px;
}

.externo {
    display: flex;
    align-self: center;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 120px;
    margin-top: -100px;
}

.chart {
    height: 2rem;
    width: 200%;
    border: 1px solid black;
    background-color: white;
    border:none;
    border-radius: 2rem;
}

.sp {
    width: 550px;
    border: 1px solid;
}
.chart div {
    height: 100%;
    float: left;
}
.chart .start {
    border-radius: 2rem;
}
.chart .end {
    border-radius: 0 2rem 2rem 0;
}
.chart .green {
    background-color: green;
}
.competencia {
    min-width: 14%;
    font-size: 1rem;
    margin-left: 12px;
}

.container-progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 100px;
    color: black;
    align-items: center;
    font-weight: bold;
    background-color: rgba(239,239,239,1);
    border-radius: 20px;
}
.progress-one{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: -50px;
}
.progress-two{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: -50px;
}
.chart1 {
    height: 2rem;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    border:none;
    border-radius: 2rem;
}
.barra{
    border-left: 1px solid;
    height: 100px;
    margin-top: -40px;
}
.max{
    font-size: 16px;
    margin-bottom: 10px;
}

.externo1 {
    display: flex;
    align-self: center;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    width: 110%;
}

.sp {
    width: 550px;
    border: 1px solid;
}
.chart1 div {
    height: 80%;
    float: left;
}
.chart1 .start {
    border-radius: 2rem;
}
.chart1 .end {
    border-radius: 0 2rem 2rem 0;
}
.chart1 .green {
    background-color: green;
}
.yellow{
    background-color: yellow;
}

@media screen and (max-width: 1200px){
    .head-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-intro{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .one article{
        display: flex;
        flex-direction: column;
    }
    .space-title{
        gap: 100px;
    }
    .competencia{    
        min-width: 60%;
    }
    .container-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .section-text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container-progress{
        display: flex;
        flex-direction: column;
    }
    .barra{
        border: 0;
    }
}