.one{
    background-color: #EFEFEF;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.planilha-1{
    content: var(--planilha-1);
}
.planilha-2{
    content: var(--planilha-2);
    width: 550px;
}
.planilha-3{
    content: var(--planilha-3);
}
.planilha-4{
    content: var(--planilha-4);
}
.planilha-5{
    content: var(--planilha-5);
}
.planilha-6{
    content: var(--planilha-6);
    width: 800px;
}

.title-text-section-one{
    font-size: 20px;
}
.title-reco{
    font-size: 35px;
}
.container-intro{
    display: flex;
    margin: 70px 0;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
.sub{
    font-weight: bold;
    margin-bottom: -16px;
    color: rgba(67,67,67,1);
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 35%;
    width: 300px;
}
.container-planilhas p{
    margin: 40px;
}
.container-planilhas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-dados{
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    padding: 50px 190px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-dados2{
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    padding: 50px 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-back{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1300px){
    .container-img{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        width: 330px;
    }
    .title-reco{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .title-text-section-one{
        text-align: center;
    }
    .container-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-dados{
        padding: 15px 8px;
    }
    .container-dados2{
        padding: 15px 8px;
    }
    .container-img img{
        width: 300px;
    }
    .planilha-1{
        width: 240px;
    }
    .planilha-2{
        width: 240px;
    }
    .planilha-3{
        width: 240px;
    }
    .planilha-4{
        width: 240px;
    }
    .planilha-5{
        width: 240px;
    }
    .planilha-6{
        width: 240px;
    }
}