.section {
    background-color: #EFEFEF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.innopedia{
    content: var(--innpedia);
}
.one{
    padding: 40px;
}
.title-img{
    font-size: 16px;
    width: 450px;
    margin-bottom: 50px;
}
.title-text-section-one{
    font-size: 20px;
    font-weight: bold;
}
.text-section-one{
    font-size: 16;
    margin-bottom: 40px;
}
.title-reco{
    font-size: 30px;
}
.container-intro{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sub{
    font-weight: bold;
    margin-bottom: -16px;
    color: rgba(67,67,67,1);
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 35%;
    width: 300px;
}
.center-back{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title-text-section-one span{
    color: rgba(174,202,44,1);

}

@media screen and (max-width: 1200px){
    .head-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .container-img{
        margin: 30px;
    }
    .title-img{
        width: auto;
    }
    .innopedia{
        width: 280px;
    }
    .one{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .text-section-one{
        margin: 30px;
    }
}